{% for field in form %}
<div class="control-group  {% if field.errors %}error{% endif %}" >
    <label class="control-label">
        {% if field.field.required%}
            *
        {% endif %}
        {{ field.label }}
    </label>
    <div class="controls form-group ">
        {{ field }}
        <span class="help-inline">
            {{ field.errors }}
        </span>
        {% if field.help_text %}
        <br>
        <span class="help-inline">
        	{{ field.help_text }}
        </span>
        {% endif %}
    </div>
</div>
{% endfor %}
