<ol class="row-fluid landing-page">
	<li class="span4 landing-step">
		<article>
		  	<header>
		      	<h1>1.Regístrate</h1>
		  	</header>
			<p align="justify">
				Si eres una empresa que cuenta con ofertas de trabajo para desarrolladores de software regístrate en nuestro sitio.
			</p>
			<a class="btn btn-primary btn-large pull-right" href="/accounts/register/">Regístrate aquí</a>
		</article>
	</li>
	<li class="span4 landing-step">
		<article>
		  	<header>
		      	<h1>2.Publica ofertas</h1>
		  	</header>
			<p align="justify">
				Publica ofertas de trabajo relacionadas con el campo de desarrollo de software, sin importar la plataforma, lenguaje o habilidades que busques en el aplicante a tu oferta de trabajo.
			</p>
		</article>
		
	</li>
	<li class="span4 landing-step">
		<article>
		  	<header>
		      	<h1>3.Difusión</h1>
		  	</header>
			<p align="justify">
				Tu publicación de la oferta de trabajo llegará a cientos de desarrolladores que cuenten con las habilidades que especificaste en la misma.
			</p>
		</article>
	</li>
</ol>
<hr>
