<div>
    <ul class="unstyled">
        {% for result in page.object_list %}
            <li >
                {% if result.object %}
                <a href="/offer/{{result.object.slug}}/"> 
                    {% if result.object.highlighted %}
                        <div class="row-fluid higlighted-offer">
                    {% else %}
                        <div class="row-fluid ordinary-offer">
                    {% endif %}
                    
                        <div class="span6">
                            <h5>{{ result.object.job_title | upper}}</h5>
                        </div>
                        <div class="span3">
                            {{result.object.days_remaining}} días
                        </div>
                        <div class="span1">
                            <strong>{{result.object.location}}</strong>
                        </div>
                        <div class="span1" align="center"><span><i class="icon-user"></i>{{result.object.applicants.count}}</span></div>
                        <div class="span1">
                            Ver Más  
                        </div>   
                    </div>
                </a>
                {% endif %}
            </li>
        {% empty %}
            <p>No se encontraron Resultados</p>
        {% endfor %}
    </ul>
</div>


