{% for offer in offers %}
	{% ifnotequal offer.state 1 %}
		<div class="row-fluid bordered1">
			
			<div class="span6">
				<a href="/positions/details/{{offer.slug}}"><h5>{{offer.job_title| upper}}</h5></a>
			</div>	

			<div class="span2" align="center">
				<span>{{offer.days_remaining}} días</span>
			</div>
			
			<div class="span1" align="center">
				<span><i class="icon-user"></i>{{offer.applicants.count}}</span>
			</div>

			<div class="span1" align="center">
			{% ifequal offer.state 0 %}
				<span class="label label-warning indicator">Borrador</span>
			{% else %}
				<span class="label label-success indicator">Pública</span>
			{% endifequal %}	
			</div>			

			<div class="span1">
				{% ifequal offer.state 2%}
					<span class="pull-right"><a href="/positions/dashboard/{{offer.slug}}">Dashboard</a></span>
				{% endifequal %}
			</div>		

			<div class="span1">
				<span style="margin-top:10px;" ><a href="/positions/terminate/{{offer.slug}}">Terminar</a> </span>
			</div>
			
		</div>
	{% endifnotequal %}
{% empty %}
	<div class="bordered2" align="center">
		<p>
			{% if user.userprofile.company %}
			<h1>¡Crea una oferta de trabajo!</h1>
			{% else %}
			<h1>Completa la información de la empresa para crear una oferta</h1> 
			<a href="{% url 'complete_company' %}" class="pull-right btn btn-primary" >Aquí</a>
			{% endif %}
		</p>
	</div>
{% endfor %}


