<div class="row-fluid">
    <div class="span8 offset2">
        <div class="bordered">
            <div class="row-fluid">
                <div class="span11">
                    <h1>{{ offer.job_title }}</h1>
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span6">
                     <h3>{{ offer.company }}</h3>
                </div>
                <div class="span6">
                    <p class="pull-right">
                        <strong>Salario:</strong> {{offer.salary}}
                    </p>
                </div>
            </div>
           <div class="row-fluid">
                <div class="span6">
                    <p>
                        <strong>Localización:</strong> {{ offer.location }}
                    </p>
                </div>
                <div class="span6">
                    <p class="pull-right">
                        <strong>Tiempo de la Oferta:</strong> {{ offer.offer_valid_time }}
                    </p>
                </div>
            </div>
            
            <p align="justify">
                <strong>Descripción:</strong> {{ offer.job_description }} 
            </p>
            <p>
                <strong>Habilidades: </strong>
                {% for tag in offer.skills.all %}
                    <span class="label label-info">{{tag.name}}</span>
                {% endfor %}
            </p>
         </br>  
        </div>
    </div>
</div>
