<div class="borderedB" align = "center">
    {% if published_offers %}
        <form action="https://gateway.payulatam.com/ppp-web-gateway/" method="POST">
            <button type="submit" class="btn">Pagar y publicar</button>
        </form>
        <form action="https://gatewaylap.pagosonline.net/" method="POST">
            <button type="submit" class="btn btn-primary btn-large">Pagar y publicar oferta resaltada</button>
        </form>
    {% else %}
        <a href="/purchase/?offer={{offer.id}}" class="btn btn-success center-horizontal">Publicar</a> 
    {% endif %} 
    <a class="btn pull-right" href="/positions/details/{{offer.slug}}">Continuar Editando</a>
</div>
