<div class="row-fluid">
    <div class="span6">
		<strong>Oferta</strong>
    </div>	
    <div class="span2" align="center">
		<strong>Finaliza en</strong>
    </div>
    <div class="span1" align="center">
		<strong>Aplicantes</strong>
    </div>
    <div class="span1" align="center">
	    <strong>Estado</strong>
    </div>			
    <div class="span2">
    	
    </div>
</div>
{% for offer in offers %}
	{% if not offer.is_finished %}
		{% include '_not_finished_position.html' %}
	{% endif %}
{% endfor %}