{% extends 'base.html' %}
{% block content %}
<ol class="row-fluid landing-page">
	<li class="span12 about-step">
		<article>
		  	<header>
		      	<h1>¿Cómo funciona?</h1>
		  	</header>
			<p align="justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, hic, nobis eveniet ratione dignissimos iure obcaecati pariatur porro facere. Veritatis, suscipit, hic, non, voluptatibus minima aut nam molestias doloribus reiciendis quidem eius ullam quas asperiores quaerat illum sit tenetur doloremque officia dolorem voluptatum eum eligendi quasi amet sequi reprehenderit voluptas neque quia similique unde nihil. Nemo, debitis repudiandae dolor consequuntur a nulla perferendis ad ea nihil fugiat ab amet veritatis inventore placeat quo aspernatur facere molestiae temporibus ducimus laborum. Cum, fuga ad perspiciatis asperiores aperiam? Vitae, veniam eligendi debitis in minus. Quas, delectus, soluta tempora obcaecati temporibus reprehenderit ea animi dicta voluptates mollitia. Doloremque, magnam illo voluptatibus fugiat iusto quod minus voluptatem similique eligendi consequuntur omnis non quis iste. Dignissimos.
			</p>
			<br>
			<p align="justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, laborum, repudiandae, illum, vero non consectetur hic at expedita ea itaque nemo magnam aliquam quia minus facere nesciunt accusamus perspiciatis est earum reprehenderit. Placeat, sit, sunt, incidunt, molestiae qui deleniti reiciendis ipsam magnam eius eligendi laborum sed quae tempore amet iusto temporibus tempora a tenetur dolore labore. Unde, ratione, hic, dolor libero itaque quasi dolorem rem et fuga dignissimos iure ipsam error tempora magni sequi enim dicta nam recusandae aspernatur animi voluptate doloribus adipisci vel quas rerum sed quod impedit debitis iusto repudiandae cupiditate possimus nemo eius quidem in mollitia sapiente provident laboriosam harum cumque eum dolore fugit asperiores esse corporis beatae. Maxime, modi, officiis esse voluptatibus eligendi dolorem numquam dolores.
			</p>
		</article>
	</li>
</ol>

{% endblock %}