<h3>Has aplicado a esta oferta: {{offer.job_title}}</h3>
<div>
<p>E-Mail: {{applicant.mail}}</p>
<p>Nombres: {{applicant.first_name}}</p>
<p>Apellidos: {{applicant.last_name}}</p>
<p>Observación: {{applicant.observation}}</p>
</div>

<div>
	Si fuiste tu y quieres aplicar a esta oferta, dale click en el enlace a continuación o copia y pegalo en la barra del navegador: <a href="jobs.codetag.me/offer/application/{{offer_applicant.token}}">jobs.codetag.me/offer/application/{{offer_applicant.token}}</a>
</div>

<div>
	Si no solicitaste esto, no necesitas hacer nada
</div>