<h3>You apply to this offer: {{offer.job_title}}</h3>
<div>
<p>Mail: {{applicant.email}}</p>
<p>First Name: {{applicant.first_name}}</p>
<p>Last Name: {{applicant.last_name}}</p>
<p>Observation: {{applicant.observation}}</p>
</div>

<div>
	If it was you, and you'd like to apply to this offer, click the link below or copy and paste it into your web browser's address bar: jobs.codetag.me/offer/application/{{offerApplicant.token}}
</div>

<div>
	If you didn't request this, you don't need to do anything
</div>