{% extends 'base.html' %}
{% block content %}
    <div class="bordered2">
    	<form action="" method="POST">
    	    <legend>Tarjeta de Crédito </legend>
			{% include '_form_fields.html' %}
    	    {% csrf_token %}
    	    <div class="control-group">
    	        <div class="controls" align="center">
    	            <a href="#" class="btn">Cancelar</a>
    	            <button type="submit" class="btn btn-primary">Guardar</button>
    	        </div>
    	    </div>
    	</form>
    </div>
{% endblock %}
