{% extends 'base.html' %}
{% block content %}
    <div class="span12 bordered2">
    	<form  action="" method="POST" class="form-horizontal">
            <legend>Detalles de la Empresa </legend>
            {% include '_form_fields.html' %}
            {% csrf_token %}
            <div class="control-group">
                <div class="controls" align="center">
                    <a href="{% url 'position_list_view' %}" class="btn">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
