{% extends 'base.html' %}
{% block content %}
	<div class="bordered2" align="center" >
	<form action="" method="POST">
        <legend>Complete the company information </legend>

        {% for field in form %}
        <div class="control-group {% if field.errors %}error{% endif %}" >
            <label class="control-label">
            {{ field.label }}</label>
            <div class="controls form-group">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
            </div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="control-group">
            <div class="controls" align="center">
                <a href="{% url 'position_list_view' %}" class="btn">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}