{% extends 'base.html' %}
{% block content %}
    {% include '_published_offers.html' %}
    <div class='bordered2'>
        <form action="." method="POST">
            <legend>Crear una Posición </legend>
			{% include '_form_fields.html' %}
            {% csrf_token %}
              <div class="control-group">
                <div class="controls" align="center">
                    <a href="{% url 'position_list_view' %}" class="btn">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

