{% extends 'base.html' %}
{% block content %}
    {% if not offer.is_published %}
    <div class="borderedB2">
        <div class="row-fluid">
            <div class="span5">
                <h4 class="center-vertical">Paso 1/3 - Ingresar los datos de la oferta</h4>
            </div>
            <div class="span7">
                <div class="progress progress-striped">
                    <div class="bar" style="width:33%;"></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include '_published_offers.html' %}
    <div class='bordered2'>
        <form action="." method="POST">
            <legend>Crear una Posición </legend>
			{% include '_form_fields.html' %}
            {% csrf_token %}
              <div class="control-group">
                <div class="controls" align="center">
                    <a href="{% url 'position_list_view' %}" class="btn">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
