{% extends 'base.html' %}
{% block content %}
    {% if offers > 4 %}
    <div class="row_fluid">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Info :</strong> You can't publish this offer because you can publish maximum 5 offers
        </div>
    </div>
    
    {% endif %}
    <div class='bordered2'>
        <form action="." method="POST">
            <legend>Create a Position </legend>

            {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}" >
                <label class="control-label">
                {{ field.label }}</label>
                <div class="controls form-group">
                    {{ field }}
                    <span class="help-inline">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
            {% csrf_token %}
              <div class="control-group">
                <div class="controls" align="center">
                    <a href="{% url 'position_list_view' %}" class="btn">Cancel</a>
                    <button type="submit" class="btn btn-primary" name="_save">Save</button>
                    {% if offers < 5 %}
                    <button type="submit" class="btn btn-success" name="_publish">Publish </button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div> 
{% endblock %}
