{% extends "base.html" %}

{% block content %}
<div class="bordered2">
	<span class="pull-right"><strong>Usuario :</strong> {{ user.username }}</span>
	<form action="" method="POST">
	    <legend>Editar Perfil</legend>
	    {% include '_form_fields.html' %}
	    {% csrf_token %}
	    <div class="control-group">
	        <div class="controls" align="center">
	            <a href="{% url 'auth_password_change' %}" class="btn">Cambiar Clave</a>
	            <button type="submit" class="btn btn-primary">Guardar</button>
	        </div>
	    </div>
	</form>
	{% if user.userprofile.company %}
	<span class="pull-right"><a href="{% url 'company_detail' %}">Ver la información de la Empresa</a></span>
	{% endif %}
</div>
{% endblock %}
