{% extends 'base.html' %}
{% block content  %}
    {% if clarifications %}
        <div class="container">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Nota:</strong> Esta oferta tiene aclaraciones hechas por el ofertante, por favor leelas con atención antes de aplicar
            </div>
        </div>
    {% endif %}
    <div class="bordered2">
        <div class="row-fluid">
            <div class="span11">
                <h1>{{ offer.job_title }}</h1>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                 <h3>{{ offer.offer_company_that_publishes }}</h3>
            </div>
            <div class="span6">
                <p class="pull-right">
                    <strong>Salario:</strong> 
                    {{offer.get_salary}}
                </p>
            </div>
        </div>
       <div class="row-fluid">
            <div class="span6">
                <p>
                    <strong>Ciudad:</strong> {{ offer.location }}
                </p>
            </div>
            <div class="span6">
                <p class="pull-right">
                    <strong>Finaliza:</strong> {{ offer.offer_valid_time }}
                </p>
            </div>
        </div>
        <div class="row-fluid">
            <strong>Empresa: </strong>{{offer.company}}
        </div>
        <br>
        <div class="row-fluid">
            <div class="span12">
                <p align="justify">
                    <strong>Descripción:</strong> {{ offer.job_description }} 
                </p>
                <p align="justify">
                    <strong>Habilidades: </strong> 
                    {% for tag in offer.skills.all %}
                        <span class="label label-info">{{tag.name}}</span>
                    {% endfor %}
                    
                </p>
            </div>
        </div>
         {% if offer.clarification %}
            <div class="row-fluid">
                <div class="span12">
                    <h3>Aclaraciones</h3>
                </div>
                <div class="span12">
                    {{offer.clarification}}          
                </div>
            </div>
        {% endif %}
     </br>  
     <a class="btn btn-primary pull-right" href="#window" role="button" data-toggle="modal">Aplicar</a>

    </div>
    
    <div id="window" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" area-hidden="true">x</button>
            <h3>Aplicar a {{offer.job_title}}</h3>
        </div>
        <div class="modal-body">
            <form action= "" method= "POST" enctype="multipart/form-data">
               {% csrf_token %}
               {{form.as_p}}
               <input type= "submit" value= "Aplicar a la oferta" class="btn btn-primary" id='btn-apply' data-toggle="tooltip">
               <input type= "reset" value= "Limpiar" class="btn">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        </div>
    </div>
{% endblock  %}
