{% extends 'base.html' %}
{% block content %}
	{% for offer in offers %}
	
		<div class="row-fluid bordered1">
			<div class="span9">
				<a href="/positions/details/{{offer.slug}}"><h5>{{offer.job_title| upper}}</h5></a>
			</div>	
			
			<div class="span1">
				<span class="pull-right"><i class="icon-user"></i>{{offer.applicants.count}}</span>
			</div>

			<div class="span2">
				<p>
				    {{offer.offer_valid_time}}
				</p>
			</div>		    
		</div>
	{% empty %}
		<h3>No Old offer!</h3>
	{% endfor %}
	<a href="/positions/list" class="btn btn-primary pull-right">Return</a>
{% endblock %}