{% extends 'base.html' %}
{% block content  %}
{% if not offer.is_published%}
<div class="container">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Advertencia:</strong> Antes de publicar debes estar totalmente seguro de los datos ingresados, ya que la oferta de trabajo no podrá ser editada, solo se podrán añadir aclaraciones, además la oferta estara publicada durante 30 días o cuando decidas finalizarla.
    </div>
</div>
<div class="borderedB2">
    <div class="row-fluid">
        <div class="span5">
            <h4 class="center-vertical">Paso 2/3 - Vista previa de la oferta</h4>
        </div>
        <div class="span7">
            <div class="progress progress-striped">
                <div class="bar" style="width:66%;"></div>
            </div>
        </div>
        
    </div>
</div>
{% endif %}
<div class="bordered2">
    <div class="row-fluid">
        <div class="span11">
            <h1>{{ offer.job_title }}</h1>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span6">
             <h3>{{ offer.offer_company_that_publishes }}</h3>
        </div>
        <div class="span6">
            <p class="pull-right">
                <strong>Salario:</strong> 
                {{ offer.get_salary }}
            </p>
        </div>
    </div>
   <div class="row-fluid">
        <div class="span6">
            <p>
                <strong>Localización:</strong> {{ offer.location }}
            </p>
        </div>
        <div class="span6">
            <p class="pull-right">
                <strong>Finaliza:</strong> {{ offer.offer_valid_time }}
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <strong>Empresa: </strong>{{offer.company}}
    </div>
    <br>
    <div class="row-fluid">
        <div class="span12">
            <p align="justify">
                <strong>Descripción:</strong> {{ offer.job_description }} 
            </p>
            <p align="justify">
                <strong>Habilidades: </strong> 
                {% for tag in offer.skills.all %}
                    <span class="label label-info">{{tag.name}}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</br>  
</div>

{% include "_publish_offer.html" %}

{% endblock  %}
