{% extends 'base.html' %}
{% block content %}
	<div class="row-fluid">
		{% if user.userprofile.company %}
			<a href="{% url 'create_position_view' %}" class="btn btn-primary pull-right">Crear</a>
			<a href="{% url 'old_positions_list_view' %}" class="btn pull-right">Antiguas</a>
		{% endif%}
	</div>
	<br>
	<br>
	<div class="row-fluid">
	    <div class="span6">
			<strong>Oferta</strong>
	    </div>	
	    <div class="span2" align="center">
			<strong>Finaliza en</strong>
	    </div>
	    <div class="span1" align="center">
			<strong>Aplicantes</strong>
	    </div>
	    <div class="span1" align="center">
		    <strong>Estado</strong>
	    </div>			
	    <div class="span2">
	    	
	    </div>
	</div>
	{% include '_positions_list.html' %}
{% endblock %}
