{% extends 'base.html' %}
{% block content %}
	<div class="row-fluid">
		{% if user.userprofile.company %}
			<a href="{% url 'create_position_view' %}" class="btn btn-primary pull-right">Create</a>
			<a href="{% url 'old_positions_list_view' %}" class="btn pull-right">Old</a>
		{% endif%}
	</div>
	<br>
	<br>
	{% for offer in offers %}
		{% ifnotequal offer.state 1 %}
			<div class="row-fluid bordered1">
				
					<div class="span7">
						<a href="/positions/details/{{offer.slug}}"><h5>{{offer.job_title| upper}}</h5></a>
					</div>	

					<div class="span2">
						<span class="pull-right">{{offer.offer_valid_time}}</span>
					</div>
					
					<div class="span1">
						<span class="pull-right"><i class="icon-user"></i>{{offer.applicants.count}}</span>
					</div>

					<div class="span1">
					{% ifequal offer.state 0 %}
						<span class="label label-warning pull-right" style="margin-top:10px;">Draft</span>
					{% else %}
						<span class="label label-success pull-right" style="margin-top:10px;">Live</span>
					{% endifequal %}	
					</div>					
					<div class="span1">
						<span style="margin-top:10px;" ><a href="/positions/terminate/{{offer.slug}}">Terminate</a> </span>
					</div>
				
			</div>
		{% endifnotequal %}
	{% empty %}
		<div class="bordered2" align="center">
			<p>
				{% if user.userprofile.company %}
				<h1>Create an Offer!</h1>
				{% else %}
				<h1>Complete the company information to create an Offer</h1> 
				<a href="{% url 'complete_company' %}" class="pull-right btn btn-primary" >Here</a>
				{% endif %}
			</p>
		</div>
	{% endfor %}
	
{% endblock %}