{% extends 'base.html' %}
{% block content %}
{% if offers > 4 and offer.state == 0 %}
    <div class="row_fluid">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Info :</strong> You can't publish this offer because you can publish maximum 5 offers
        </div>
    </div>
{% endif %}
<div class="row-fluid">
    <h4 class="pull-right">You have {{offers}} offers published</h4>
</div>
{% ifequal offer.state 1%}
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="bordered">
                <div class="row-fluid">
                    <div class="span11">
                        <h1>{{ offer.job_title }}</h1>
                    </div>
                </div>
                
                <div class="row-fluid">
                    <div class="span6">
                         <h3>{{ offer.company }}</h3>
                    </div>
                    <div class="span6">
                        <p class="pull-right">
                            <strong>Salary:</strong> {{offer.salary}}
                        </p>
                    </div>
                </div>
               <div class="row-fluid">
                    <div class="span6">
                        <p>
                            <strong>Location:</strong> {{ offer.location }}
                        </p>
                    </div>
                    <div class="span6">
                        <p class="pull-right">
                            <strong>Time offer:</strong> {{ offer.offer_valid_time }}
                        </p>
                    </div>
                </div>
                
                <p align="justify">
                    <strong>Description:</strong> {{ offer.job_description }} 
                </p>
                <p>
                    <strong>Skills: </strong>
                    {% for tag in offer.skills.all %}
                        <span class="label label-info">{{tag.name}}</span>
                    {% endfor %}
                </p>
             </br>  
            </div>
        </div>
    </div>
{% else %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset2">
            <form action="." method="POST" class="span12">
                <legend> Edit the Position</legend>
                {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}" >
                    <label class="control-label">
                    {{ field.label }}</label>
                    <div class="controls col-lg-10">
                        {{ field }}
                        <span class="help-inline">{{ field.errors }}</span>
                    </div>
                </div>
                {% endfor %}
                {% csrf_token %}
                <div class="control-group">
                    <div class="controls" align="center">
                        <a href="{% url 'position_list_view' %}" class="btn">Cancel</a>
                        <button type="submit" class="btn btn-primary" name="_save">Save</button>
                        {% if offers < 5 %}
                            <button type="submit" class="btn btn-success" name="_publish">Publish </button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endifequal %}
{% endblock %}