body {
    padding-top: 70px;
    padding-bottom: 50px;
}

.bordered {
    border-color: #000;
    margin-top: 0;
    border-radius: 10px;
    padding: 40px;
    padding-top: 0;
    margin: 0;
    background-color: #e9eaee;
}

.bordered2 {
    border-color: #000;
    border-radius: 10px;
    padding: 40px;
    padding-top: 0;
    margin: 0 15% 0 15%;
    background-color: #e9eaee;
}

.confirmed-applicant {
    background-color: #3cb521;
}

.not-confirmed-applicant {
    background-color: #d47500;
}

.normal {
    color: black;
}

.indicator {
    margin-top: 10px;
}

.borderedB {
    border-color: #000;
    border-radius: 10px;
    padding: 40px;
    margin: 0 15% 2% 15%;

}

.bordered1 {
    border-color: #000;
    border-radius: 10px;
    border: 10px;
    padding: 2px;
    margin: 2px;
    background-color: #e9eaee;
}

.fixed {
    position: fixed;
    bottom:0px;
    left: 50%;
}

#id_job_title {
    width: 90%;
}

#id_job_description {
    width: 90%;
}

#id_observation{
    width: 95%;
    height: 50px;
}


#id_location {
    width: 90%;
}


#id_skills {
    width: 90%;
}


#id_type_contract {
    width: 90%;
}


#id_salary {
    width: 90%;
}


input.required,
error {
    border: 2px solid red;
}

.promo-header {
    text-align: center;
}

.plans-and-pricing {
    margin: 30px auto 0 auto;
}

.plan {
    padding: 10px;
    border: 1px solid #e1e1e8;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.plan ol {
    list-style: none;
    margin: 20px 0;
}
.plan li {
    margin-top: 10px;
}
.plan .btn {
    margin: 20px;
}
.suggested-plan {
    background: #f7f7f9;
}