body {
    padding-top: 70px;
    padding-bottom: 50px;
}

.bordered {
    border-color: #000;
    margin-top: 0;
    border-radius: 10px;
    padding: 40px;
    padding-top: 0;
    margin: 0;
    background-color: #e9eaee;
}

.bordered2 {
    border-color: #000;
    border-radius: 10px;
    padding: 40px;
    padding-top: 0;
    margin: 0 15% 0 15%;
    background-color: #e9eaee;
}

.confirmed-applicant {
    background-color: #3cb521;
}

.not-confirmed-applicant {
    background-color: #d47500;
}

.normal {
    color: black;
}

.indicator {
    margin-top: 10px;
}

.borderedB {
    border-color: #000;
    border-radius: 10px;
    padding: 10px;
    margin: 0 15% 2% 15%;

}

.center-horizontal {
    position: absolute;
    left: 45%;
}

.center-vertical {
    display: table-cell;
    vertical-align: middle;
}

.borderedB2 {
    border-color: #000;
    border-radius: 10px;
    padding: 2px;
    margin: 0 15% 0 15%;

}

.bordered1 {
    border-color: #000;
    border-radius: 10px;
    border: 10px;
    padding: 2px;
    margin: 2px;
    background-color: #e9eaee;
}

.ordinary-offer {
    border-color: #000;
    border-radius: 10px;
    border: 10px;
    padding: 2px;
    margin: 2px;
    background-color: #e9eaee;
    cursor: pointer;
    text-decoration:none;
    color:black;
}

.ordinary-offer:hover {
    background-color: #F1F1F1; 
}

.higlighted-offer {
    border-color: #000;
    border-radius: 10px;
    border: 10px;
    padding: 2px;
    margin: 2px;
    background-color: #0089FF;
    cursor: pointer;
    text-decoration:none;
    color: black;
}

.higlighted-offer:hover {
    background-color: #38A3FF ;
}

.fixed {
    position: fixed;
    bottom:0px;
    left: 50%;
}

#id_aclaration {
    width: 70%;
    height: 40px;
}

#id_job_title {
    width: 90%;
}

#id_job_description {
    width: 90%;
}

#id_observation {
    width: 95%;
    height: 50px;
}


#id_location {
    width: 90%;
}


#id_skills {
    width: 90%;
}


#id_type_contract {
    width: 90%;
}


#id_salary {
    width: 90%;
}

.content-accordion {
    background-color: #e9eaee;
}

input.required,
error {
    border: 2px solid red;
}

.promo-header {
    text-align: center;
}

.plans-and-pricing {
    margin: 30px auto 0 auto;
}

.plan {
    padding: 10px;
    border: 1px solid #e1e1e8;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.plan ol {
    list-style: none;
    margin: 20px 0;
}
.plan li {
    margin-top: 10px;
}
.plan .btn {
    margin: 20px;
}
.suggested-plan {
    background: #f7f7f9;
}

.landing-page {
    margin: 30px auto 0 auto;
}

.landing-step {
    padding: 10px;
    border: 1px solid #e1e1e8;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    height: 200px;
}

.landing-step ol {
    list-style: none;
    margin: 20px 0;
}
.landing-step li {
    margin-top: 10px;
}

.div-click {
    border-color: #000;
    border-radius: 10px;
    padding: 40px;
    padding-top: 0;
    margin: 0 15% 0 15%;
    background-color: #e9eaee;
    cursor:pointer;
    color:black;
    text-decoration:none;
}

.div-click:hover {
    background-color: #0089FF;
    text-decoration: none;
    color:white;
}

.tag-link {
    text-decoration: none;
    cursor: pointer;
}

.tag-link:hover {
    background-color: #38A3FF ;
    text-decoration: none;
}

.edit-button-group {
    border-color: #000;
    border-radius: 10px;
    padding: 0;
    margin: 0 15% 0 15%;
}

.center {
    text-align: center;
}

.errors {
    color:rgb(204, 0, 0);
}

.medium-icon {
    background-image: url("/static/img/glyphicons-halflings.png");
    width: 25px;
    height: 25px;
    background-size: 588px 224px;
}

.about-step {
    padding: 10px;
    border: 1px solid #e1e1e8;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}