{% extends "registration/base.html" %}

{% block title %}Cuenta Activada{% endblock %}

{% block content %}
<div class="bordered2">
  <h1>Cuenta Activada</h1>
  {% load humanize %}
  {% if account %}
    <p>Gracias por registrarte, ahora puedes acceder desde  <a href="/accounts/login/">aquí</a>.</p>
  {% else %}
    <p>
    Disculpa, el link de activación fue incorrecto o el código de activación para tu cuenta ha expirado;
    la clave de activación es valida unicamente durante {{ expiration_days|apnumber }} días luego del registro.
     </p>
  {% endif %}
</div>
{% endblock %}