{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Reestablecimiento de clave exitoso' %}{% endblock %}

{% block content %}
<div class="bordered2">
<h1>{% trans 'Reestablecimiento de clave exitoso' %}</h1>

<p>{% trans "Te hemos enviado un correo electrónico con las instrucciones para establecer tu clave a la dirección de E-mail con la que te registraste. Lo recibirás en uno instantes" %}</p>
</div>
{% endblock %}
