{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Reestablecimiento de clave" %}{% endblock %}

{% block content %}
<div class="bordered2">
<h1>{% trans "Reestablecimiento de clave" %}</h1>

<p>{% trans "Perdiste tu clave? Ingresa tu E-mail a continuación, en unos momentos llegara un correo con las instrucciones para reestablecerla " %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.email.errors }}
<label for="id_email">{% trans 'Dirección de E-mail:' %}</label> {{ form.email }} 
	<input type="submit" value="{% trans 'Reestablecer mi clave' %}" class="btn btn-primary"/>
</form>
</div>
{% endblock %}
