{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Reestablecimiento de Clave' %}{% endblock %}

{% block content %}

{% if validlink %}
<div class="bordered2">
<h1>{% trans 'Ingresa la nueva clave' %}</h1>

<p>{% trans "Por favor ingresa tu nueva clave dos veces, asi podremos verificar que la escribiste correctamente" %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'Nueva Clave:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirmar Clave:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary"/></p>
</form>

{% else %}

<h1>{% trans 'Reestablecimiento de clave fallido' %}</h1>

<p>{% trans "El link de reestablecimiento de clave fue invalido, posiblemnete por que este ya estaba en uso. Por favor soliciThe password reset link was invalid, possibly becausun nuevo reestablecimiento de clave." %}</p>

{% endif %}
</div>
{% endblock %}
