{% load i18n %}{% autoescape off %}
{% trans "Recibiste este correo por que solicitaste un reestablecimiento de clave de cuenta" %}
{% blocktrans %}para la cuenta de {{ site_name }}{% endblocktrans %}.

{% trans "Por favor ve a la siguiente página e ingresa una nueva clave:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Tu nombre de usuario en caso de pérdida:" %} {{ user.username }}

{% trans "¡Gracias por usar nuestro sitio!" %}

{% blocktrans %}Equipo de {{ site_name }}{% endblocktrans %}

{% endautoescape %}
