<!DOCTYPE html>
<html>
    <head>
     <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">

                <a class="brand" href="/">PORQUE TRABAJO SI HAY</a>
                <ul class="nav">
                    <li><a href="{% url 'offer_list' %}">Offers</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                    {% else %}
                        <li><a href="/accounts/register/">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class='container'>
        {% block content %}
        {% endblock %}
        </div>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
