{% extends 'base.html' %}
{% block content %}

<a class="btn btn-info btn-large" href="{% url 'company_add' %}" >ADD NEW COMPANY</a>
<table class='table table-bordered table-striped table-hover'>
   <thead>
      <tr class="warning">
          <td>
            NAME
          </td>
          <td>
            DELETE
          </td>
      </tr>
   </thead>
<tbody> 
{% for company in object_list %}
<tr class="">
  <td>
     <a href="{{ company.direccion_para_actualizar }}"
      data-company_name"{{ empleo_desarrolladores.company }}"
      >{{ empleo_desarrolladores.company }}</a>    
  </td>   
  <td>
    <a class='btn btn-primary' href="{{ company.direccion_para_eliminar }}">
    <i class="icon-trash"></i>
    Delete
    </a>
    
  </td>
  </tr>

     </tr>
   {% endfor %}
 </tbody>
</table>
{% endblock %}
