{% extends 'base.html' %}
{% block content %}
	<div class="row-fluid">
		<a href="{% url 'create_position_view' %}" class="btn btn-primary pull-right">Create</a>
		<a href="{% url 'old_positions_list_view' %}" class="btn pull-right">Old</a>
	</div>
	<br>
	<br>
	{% for offer in offers %}
		{% ifnotequal offer.state 1 %}
			<div class="row-fluid bordered1">
				
					<div class="span9">
						<a href="/positions/details/{{offer.id}}"><h4>{{offer.job_title| upper}}</h4></a>
					</div>	
					
					<div class="span1">
						<span class="pull-right"><i class="icon-user"></i>{{offer.applicants.count}}</span>
					</div>

					<div class="span1">
					{% ifequal offer.state 0 %}
						<span class="label label-warning pull-right" style="margin-top:10px;">Draft</span>
					{% else %}
						<span class="label label-success pull-right" style="margin-top:10px;">Live</span>
					{% endifequal %}	
					</div>					
					<div class="span1">
						<span style="margin-top:10px;" ><a href="/positions/terminate/{{offer.id}}">Terminate</a> </span>
					</div>
				
			</div>
		{% endifnotequal %}
	{% empty %}
		<div class="bordered">
			<p align="center">
				<h3>Create an Offer!</h3>
			</p>
		</div>
	{% endfor %}
	
{% endblock %}